<h3>Transaction Registered</h3>

<p><b>Value: £</b><%= @transaction.value() %></p>
<p><b>Merchant: </b><%= @transaction. %></p>


<p>Name: <%= @pizza.pretty_name() %></p>
<p>Topping: <%= @pizza.topping %></p>
<p>Quantity: <%= @pizza.quantity  %></p>
<p>Total Cost: <%= @pizza.total_cost %></p>